.DS_Store
/*cache
/*output
/.nyc_output
/.serverless
/.tap
/.vscode
/build
/config.*
/coverage
/dist
/dist*
/itermocil.yml
/metrics
/node_modules
/node_modules*
/npm-debug.log
/task-library
/temp
node_modules
