@media print {
    header {
        display: none;
    }
}

header {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

header a {
    padding: 0 1rem;
}

.title-bar {
    background-color: black;
    padding: 0.5rem;
}

.title-bar h1 {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    display: inline-block;
}

.title-bar a.author {
    font-size: smaller;
    font-style: italic;
}

.nav-bar {
    background-color: darkgray;
    font-size: small;
    padding: 0.5rem;
}
