@media print {
    header {
        display: none;
    }
}

header {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    /* font-family: helvetica; */
    /* font-size: .8rem; */
    font-family: 'Roboto Condensed', sans-serif;

}

header a {
    padding-left: 1.5rem;
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.title-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: black;
    padding: 0.5rem;
    padding: 0.2rem 1.5rem;
    border-top: solid 2px white;
    white-space: nowrap;
}

.title-bar .left {
    text-align: left;
}

.title-bar .right {
    text-align: right;
}

.title-bar .app-name {
    padding: 0;
    margin: 0;
    
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
}

.author {
    font-family: 'Shadows Into Light';
    font-weight: bold;
}
