@media print {
    header {
        display: none;
    }
}

header {
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
}

header a {
    padding-left: 1.5rem;
}

.title-bar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background-color: black;
    padding: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-size: small;
    font-size: .7rem;
    border-top: solid 2px white;
    white-space: nowrap;
}

.title-bar .left {
    text-align: left;
}

.title-bar .right {
    text-align: right;
}

.title-bar .app-name {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-size: small;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
