
/* Prevent background scrolling while modal visible */
.app.modal-true {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

/* Workaround inability to drop file over body in Chrome and Firefox */
.dropzone {
    min-height: 100%; 
}

.welcome {
    text-align: center;
}
@media print {
    .control-panel {
        display: none;
    }
}

.control-panel {    
    text-align: center;
    background-color: whitesmoke;
    padding: 10px 0;
}

/* Prevent passive tag image appearing above colour picker (filter affects stacking context) */
.control-panel {    
    z-index: 7;
}

/* Stick to top of screen while scrolling */
.control-panel {        
    position: sticky;
    top: 0; 
}

.control-panel > * {
    margin: 10px 0;
    transition: all ease-in-out 1s;
}

.control-panel > .visible-false {
    margin: 0;
    opacity: 0;
    max-height: 0;
}

.control-panel > .visible-true {
    opacity: 1;
    max-height: 100%;
}
.lds-dual-ring {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
}

.lds-dual-ring:after {
    content: ' ';
    display: block;
    height: 2.5em;
    width: 2.5em;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid cornflowerblue;
    border-color: cornflowerblue transparent cornflowerblue transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.modal-title a.about-gravatar {    
    font-size: smaller;
    font-weight: normal;
    font-style: italic;
    display: inline-block;
    padding-top: .2rem;
}

.gravatar-title {
    margin-right: 1.5rem;
}

.gravatar label,
.gravatar .label {
    display: block;
    margin-bottom: 1rem;
}

.gravatar .freetext {
    width: 100%;
    height: 200px;
}

.gravatar .freetext:disabled {
    background-color: gainsboro;
}

.gravatar .fallback {
    border: solid 3px white;
    padding: 1px;
    margin: 2px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.gravatar .fallback:hover {
    transform: scale(1.1);
}

.gravatar .fallback.selected-true {
    border-color: cornflowerblue;
}
@media print {
    .dev-bar .wip-bar {
        display: none;
    }
}
.image-upload-options {
    font-weight: bold;
}

.image-upload-options a {
    color: cornflowerblue;
}

.image-upload-options > *:after {
    padding-left: 1rem;
    padding-right: 1rem;
    content: 'â—'
}

.image-upload-options > *:last-child:after {
    content: '';
    padding: 0;
}
/* Overlay entire viewport with black, semi-transparent background. */
.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay.visible-false {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.1); 
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-overlay.visible-true {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.modal-prompt {
    border-radius: 0.5rem;
    background-color: white;
}

/* Horizontally and vertically center. */
.modal-prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Prevent height from exceeding the viewport and enable scrolling. */
.modal-prompt {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.modal-title {
    padding: 1rem;
    background-color: cornflowerblue;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* Stick to the top when scrolling */
.modal-title {
    position: sticky;
    top: 0;
    z-index: 9;
}

.modal-title.visible-false {
    display: none;
}

.modal-title .dismiss {
    margin-left: auto; 
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    color: black;
    transition: all 0.2s ease-in-out;
}

.modal-title .dismiss::after {
    content: '\00d7';
}

.modal-title .dismiss:hover {
    background-color: darkgray;
}

.modal-content {
    margin: 1.5rem;
}

.modal-actions {    
    text-align: center;
    margin: 1.5rem;
}

.modal-actions a {
    color: cornflowerblue;
}

.modal-actions button {
    height: 2.5rem;
    padding: 0 3rem;
    font-size: 1rem;
    font-weight: bold;    
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;    
    transition: all 0.2s ease-in-out;
}

.modal-actions button:hover:enabled {
    cursor: pointer;
    transform: scale(1.1);
}

.modal-actions button:disabled {
    background-color: gainsboro;
    cursor: not-allowed;
}

.modal-actions .error-message {
    color: red;
    padding-bottom: 1rem;
}

.modal-actions.visible-false,
.modal-actions .visible-false {
    display: none;
}
@media print {
    .tag.nil-role-true .role-name {
        display: none;
    }
}

.tag.nil-role-true .role-name {
    border: 1px dashed gray;
    color: lightgray;
    background-color: white;
}

.tag.nil-role-true .role-name:before {
    content: 'role';
}

.tag.nil-role-true .role-name:focus:before {
    content: '';
}

.tag.nil-role-true .role-name:focus {
    color: black;
}
.options-bar {
    line-height: 2em;
}

.options-bar * {
    font-size: small;
}

.options-bar .group {
    margin: 0 10px;
    white-space: nowrap;
}

.options-bar label {
    padding: 0 5px;
}

.options-bar .label {
    margin-right: 5px;
}

.shape-option {
    display: inline-block;
    margin: 0 4px -4px 0;
    border: solid 3px gray;
    width: 12px;
    height: 12px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.shape-option:hover {
    transform: scale(1.2);
}

.shape-option.selected-true {
    border-color: cornflowerblue;
}

input[type=number] {
    width: 50px;
}
.role-customiser {
    border: 1px solid lightgray;
    background-color: white;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    white-space: nowrap;
}

.role-name {
    color: white;
    border-radius: 25px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    /* text-shadow: #000 0px 0px 2px; */
}

.color-picker {
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 2px;
    font-size: smaller;
    width: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 2px;
}

.color-picker::before {
    color: gray;
    content: '\25bc';
    /* unicode zero width space character */
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/var */

body {
    -webkit-print-color-adjust: exact !important;
    -moz-user-select: none;
    /* fixes Firefox issue */
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #444444;
}


a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span[contenteditable=true] {
    cursor: text;
}
.tag-list {
    display: grid;
    grid-auto-rows: 1fr;
    margin: 5px;
}

.tag {
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 5px 0;
    border: 1px dashed silver;
    
}

.tag * {
    margin: 0 auto;
}

.tag .layout .group {
    display: block;
    margin: 8px;
}

.tag-name {
    margin-bottom: 5px;
    /* for when it wraps so it doesnt get too close to role */
}

.tag-name:empty {
    border: 1px dashed gray;
    width: 20px;
}

.tag .role-name {
    border: 1px solid transparent;
    margin: 0 3px;
    max-width: 100%;
    /* forces name to wrap and no exceed bounds of tag */
}


.tag-image {
    box-sizing: border-box;
    border: solid 5px transparent;
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.tag-name {
    display: inline-block;
    border: 1px solid transparent;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-left: 3px;
    margin-right: 3px;
    max-width: 100%;
    /* forces name to wrap and no exceed bounds of tag */
}

.tag.passive .tag-image {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    border-color: silver;
}

.tag.passive.nil-role-false .role-name {
    background-color: silver;
}.tips .tip {
    margin-bottom: 3em;
}

.tip .heading {
    font-weight: bold;
}
